@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-mulish);
  --font-serif: var(--font-playfair-display);
}

.container {
  @apply max-w-7xl mx-auto;
}